
.container-home {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .h1-home {
    font-size: 2em;
    margin-bottom: 10px;
    color: aliceblue;
  }
  
  .p-home {
    font-size: 1.2em;
    color: aliceblue;
  }
  